*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* ------ variables ---------*/

:root{
    --purple:       #242130;
    --light-purple: #65636e;
    --red:          #eb1736;
    --brown:        #443937;
    --border-color: #AF9FC9;
    
    --success-bg:   rgba(50,205,50, 0.2);
    --success-txt:  #75ff1a;
    
    --invalid-bg:   rgba(255,77,77, 0.2);
    --invalid-txt:  rgb(255,25,25);
    
    --info-bg:      rgba(0, 0, 230, 02);
    --info-txt:     rgb(0, 0, 204);
}

body{
    color: white;
    background-color: var(--purple);
}  

body, header{
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
}

/* -------- HEADER ----------- */

header{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--red);
}

.flex, .flex li{
    display: flex;
    flex-direction:  row;
}

.flex li{
    padding: 0 10px 0 0;
    font: 600 20px 'Itim', cursive;
    
}

.flex a{
    color: white;
} 

.account-menu li{
    margin: 0 5px;
}

/* -------- main content ----------- */

.sidebar-left{
    width: 9vw;
    height: 100%;
}

.sidebar-right{
    width: 10vw;
    height: 100%;
}

.main-body{
    display: flex;
}

.main{
    width: calc(100% - 32vw);

}

.content{
    padding: 80px 20px;
    display: inline-block;
    height: 100%;
}
 
.sidebar-menu{
    color: white;
    margin-top: 80px;
    list-style-type: none;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

.make-post{
    color: white;
}

/* -------- Forms ----------- */

.alert-success{
    border: 1px solid var(--success-txt);
    border-radius: 5px;
    background-color: var(--success-bg);
    color: var(--success-txt);
    padding: 10px;
}


.login-feedback{
    border: 1px solid var(--success-txt);
    border-radius: 5px;
    padding: 10px;
}

.alert-fail{
    border: 1px solid var(--invalid-txt);
    border-radius: 5px;
    padding: 10px;
    background-color: var(--invalid-bg);
    color: var(--invalid-txt);
}

.picture-error{
    color: var(--invalid-txt);
}

.is-invalid{
    box-shadow: 0 0 10px var(--invalid-txt);
}

.info{
    border: 1px solid var(--info-txt);
    border-radius: 5px;
    background-color: var(--info-bg);
    color: var(--info-txt);
    font-size: 14px;
}

.invalid-feedback{
    color: var(--invalid-txt);
    font-size: 14px;
}

.form-element{
    margin: 10px 30%;
    display: block;
}

.form-group{
    padding: 7px 0;
}

.highlighted-text{
    color: var(--red)
}

.update-account{
    border: none;
}

.update-account .form-element{
    margin: 0;
}

/* --------- posts --------- */

.post{
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 20px; 
    margin: 20px 0;
}

.post-header{
    color: var(--light-purple);
}  

.post-title{
    color: white;
    font-weight: 600;
    padding-right: 10px;
}

#date{
    margin-left: 10px;   
}

#user{
    color: var(--light-purple); 
}

#user:hover{
    color: white;
}

.edit-post{
    padding: 10px 5px;
    border-top: 1px solid var(--border-color);
    display: flex;
}

.edit-post a{
    color: white;
    font-weight: 600;
    padding-left: 5px;
}

.update-post:hover{
    color: orange;
}

.delete-post{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-weight: 600;
    padding-left: 5px;
}

.delete-post:hover{
    color: red;
}
/* --------- Profile -------- */

.content-block{
    border: 2px solid var(--light-purple);
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
}

.update-account legend{
    font-size: 24px;
    font-weight: 600;
}

.user-parts{
    display: flex;
    
}

.image{
    width: 30%;
    margin-right: 40px;
}


.user_image{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}


/* -------- pagination ------------ */

#pagination{
    color: white;
    text-align: center;
}

.page_num{
    color: white;
    border: 2px solid var(--red);
    padding: 2px;
    border-radius: 2px;
}

.current_page, .page_num:hover{
    background-color: var(--red);
}

/* --------- FOOTER -------- */
footer{
    position: fixed;
    text-align: center;
    bottom: 0;
    border-top: 2px solid var(--red);
    height: 50px;
    background-color: var(--purple);
    width: 100%;
    
}
