{% extends "layout.html" %}
{% block body %}
    <div class="post">
        <div class="post-header">
            <p class="post-title">{{ post.title }}</p>
            <small>Posted by:</small>
            <a href="{{ url_for('user_posts', username=post.author.username) }}" id="user">@{{ post.author.username }}</a>
            <a id="date">{{ post.date_posted.strftime('%Y-%m-%d') }}</a>
        </div>
        <p class="post-content">{{ post.content}}</p>
        {% if post.author == current_user %}
            <div class="edit-post">
                <a class="update-post" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                    <input class="delete-post" type="submit" value="Delete">
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}

